---
title: Rules
description: Last Updated March 19, 2021
permalink: rules/
in-nav: true
---

{% include image-header.html image='/assets/img/image-slider/15.jpg' %}

<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">A. General Composure</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>Be nice and respectful towards everyone. Excessive swearing, rudeness and harassment is not tolerated.</li>
        <li>Do not spam or advertise.</li>
        <li>Observers should never give tactical information to players or intentionally disrupt game play.</li>
        <li>Follow any directions given by a {{ site.title }} staff member. If you believe a staff member has directed you wrongly, please email <a href="mailto:brott@oc.tc">brott@oc.tc</a>.</li>
        <span class="badge badge-warning">Note</span>
        <small>If you are concerned about links that may constitute advertising, please ask a staff member before posting.</small>
      </ol>
    </div>
    </div>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">B. General Gameplay</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Players may not abuse glitches, like placing blocks in areas restricted by the plugin to walk on, also known as "block glitching".</li>
          <li>Maps may have rules that apply only to that specific map. They can be read under <code>/map</code>.</li>
          <li>Players may only press one button, and have it register as one click.</li>
          <span class="badge badge-warning">Note</span>
          <small>Clicking techniques, such as butterfly/jitter/drag-clicking, are discouraged as they can trigger our anti-cheat in such a manner than indicates auto-clicking. Do so at your own risk.</small>
        </ol>
      </div>
    </div>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">C. Client Mods</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol>
          <li>Any client mods or external tools that give you an unfair advantage over vanilla Minecraft users are illegal while playing.</li>
          <li>The following mods are explicitly <i>permitted</i>:</li>
          <ul class="list-unstyled">
            {% for mod in site.data.mods-approved %}
              <li>
                <i class="fa fa-check text-success"></i>
                {{ mod }}
              </li>
            {% endfor %}
          </ul>
          <li>The following mods are explicitly <i>prohibited</i>:</li>
          <ul class="list-unstyled">
            {% for mod in site.data.mods-banned %}
              <li>
                <i class="fa fa-times text-danger"></i>
                {{ mod }}
              </li>
            {% endfor %}
          </ul>
          <li>For any other mods, email <a href="mailto:brott@oc.tc">brott@oc.tc</a> for confirmation before using it.</li>
          <span class="badge badge-warning">Note</span>
          <small>Unless explicitly permitted, additional mods which can be installed through LabyMod are not allowed.</small>
        </ol>
      </div>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2 class="page-heading">D. Team Griefing</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>Team griefing is prohibited, and is defined as any action that harms your own team.</li>
        <li>Common indicators of team griefing:</li>
        <ol>
          <li>Placing and/or setting off TNT in your base (for non defensive purposes).</li>
          <li>Destroying your own team's chests or workbenches</li>
          <li>Teamkilling by spleefing or blowing them up with TNT.</li>
          <li>Aiding or working together with a member of the other team.</li>
        </ol>
        <span class="badge badge-warning">Note</span>
        <small>Mistakes happen, and accidentally teamgriefing won't get you punished.</small>
      </ol>
    </div>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">E. Punishments</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li>Players may be <i>kicked</i> for breaking the rules. If the rule violation is severe, you may be <i>banned</i> instead.</li>
        <li>Players may be <i>muted</i> for breaking chat rules. If you have been muted before, the mute length may be longer.</li>
        <li>Evading a punishment by connecting with another account is not allowed, and may result in all your accounts and IP address being banned.</li>
        <li>Bans may be appealed by visiting the <a href="{{ site.url}}/appeal">appeal</a> page.</li>
        <span class="badge badge-warning">Note</span>
        <small>All infractions are subject to staff discretion.</small>
      </ol>
    </div>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
      <h2 class="page-heading">F. Tournament</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      Tournament rules can be found <a href="http://events.oc.tc/rules">here</a>
    </div>
  </div>
</div>
