<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-12 col-md-4">
        <span class="copyright text-muted">
          &copy; {{ site.title }}
        </span>
      </div>
      <div class="col-12 col-md-8">
        <ul class="nav justify-content-md-end">
          <div class="nav-item">
            <a class="nav-link" href="{{ site.data.links.twitter }}" target="_blank">Twitter</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="{{ site.data.links.discord }}" target="_blank">Discord</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="{{ site.data.links.twitch }}" target="_blank">Twitch</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="{{ site.data.links.youtube }}" target="_blank">YouTube</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="{{ site.data.links.github }}" target="_blank">GitHub</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="{{ site.data.links.donate }}" target="_blank">Donate</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
</footer>
