<div class="image-slider">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% assign images = site.static_files | where: 'image_slider', true %}
      {% for image in images %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="{{ site.url}}{{ image.path }}" />
        </div>
      {% endfor %}
    </div>
    <div class="jumbotron-fluid text-center">
      <div class="container">
        <div class="jumbotron-text">
          <h1>{{ site.title }}</h1>
          <p>{{ site.description }}</p>
        </div>
        <a class="btn btn-primary btn-lg" href="{{ site.url}}/play">Play Now »</a>
      </div>
    </div>
  </div>
</div>
