<div class="image-slider">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% assign images = site.static_files | where: 'image_slider', true %}
      {% for image in images %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}"
             style="background: url('{{ site.url}}{{ image.path }}') no-repeat center">
        </div>
      {% endfor %}
    </div>
    <div class="jumbotron-fluid text-center">
      <div class="container">
        <div class="jumbotron-text">
          {% assign split = site.title | split: ' ' %}
          <h1>
            <span class="accent">{{ split[0] }}</span> {{ split[1] }}
          </h1>
          <p>{{ site.description }}</p>
        </div>
        <a class="btn btn-primary btn-lg" href="{{ site.url}}/play">Play Now »</a>
      </div>
    </div>
  </div>
</div>
