<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
      <img src="{{ site.baseurl }}{% link /assets/img/logo.png %}" class="d-inline-block align-top" alt="Logo" width="30" height="34">
      <span class="title">{{ site.title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        {% assign pages = site.pages | sort:'url' %}
        {% for p in pages %}
          {% if p.in-nav == true %}
            <li class="nav-item {% if p.url == page.url %} active {% endif %}">
              <a class="nav-link" href="{{ site.baseurl }}{{ p.url }}">
                <i class="{{ p.icon }}"></i>
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
