<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ site.url }}/assets/images/logo.png" class="d-inline-block align-top" alt="" />
            {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if page.url contains "play" %}active{% endif %}">
                    <a class="nav-link" href="/play">Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.social.twitter }}" target="_blank">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.social.discord }}" target="_blank">Discord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.reddit.com/r/overcast/" target="_blank">Reddit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://octc.buycraft.net" target="_blank">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
