#donate {
  .card-body ul{
    padding-left: 20px;
  }
  .skin{
    height: 400px;
    width: 194px;
    align-self: center;
    margin-top: 20px;
  }
  .lunar{
    height: 400px;
    width: 400px;
  }
  .btn{
    float: right;
  }
  .price{
    float: right;
  }
  .disclaimer{
    font-style: italic;
    font-size: small;
  }
}
