#play {
  .connect .btn {
    width: 100%;
    font-weight: bold;
  }

  .map-image {
    flex: 0 0 200px;

    img {
      border-radius: 5px;
    }
  }

  .match-state {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border-radius: 100%;

    &.idle {
      background: #ccc;
    }

    &.starting {
      background-color: #ffc107;
    }

    &.running {
      background-color: #28a745;
    }

    &.finished {
      background-color: #dc3545;
    }
  }

  .online-players {
    margin-top: 1rem;
    max-width: 259px;

    img {
      margin-bottom: 3px;
      border-radius: 3px;
    }
  }
}
