@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import "variables";

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
}

.carousel {
  overflow: hidden;
  height: 470px;
  position: absolute;
  max-width: 100%;
  width: 100%;

  .carousel-inner {
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 100%;
      min-width: 950px;
      min-height: 480px;
    }
  }
}

.info {
  background-color: transparent;
  text-align: center;
  padding: 4em 0;
  margin-bottom: 0;
  position: relative;
  height: 480px;

  .heading {
    color: $red;
    font-weight: bold;
    font-size: 110px;
    line-height: 1;
    letter-spacing: -2px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.9);

    @media (max-width: 1200px) {
      font-size: 100px;
    }

    @media (max-width: 992px) {
      font-size: 74px;
    }
  }

  .lead {
    font-size: 36px;
    font-weight: 200;
    line-height: 1.25;
    color: white;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.9);
    margin-bottom: 2rem;

    @media (max-width: 1200px) {
      font-size: 28px;
    }

    @media (max-width: 992px) {
      font-size: 24px;
    }
  }
}

.btn-play {
  padding: 18px 22px;
  font-size: 26px;
  font-weight: 400;
  color: white;
  width: 180px;
}

.play {
  .heading,
  .lead {
    color: white;
  }

  .heading {
    font-weight: bold;
    font-size: 60px;
  }
}

small {
  font-size: 16px;
  font-weight: normal;
  color: $gray;
}

.status {
  .heading {
    font-weight: bold;
  }

  #mapName {
    font-weight: bold;
    font-size: 32px;
  }

  #mapImage {
    max-width: 100%;
  }
}

.sidebar {
  text-align: center;
  .heading {
    font-weight: bold;
  }

  .input {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: $blue;
    padding: 20px;
  }
}

.avatar {
  width: 38px;
  height: 38px;
  margin: 0 3px 3px 0;
  border-radius: 3px;
}

.footer {
  margin-top: 3.5em;
  margin-bottom: 2em;
}
