@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
}

.info {
  background-size: cover;
  text-align: center;
  padding: 4em 0;
  margin-bottom: 2em;

  .heading {
    color: #da7272;
    font-weight: bold;
    font-size: 110px;
    line-height: 1;
    letter-spacing: -2px;
  }

  .lead {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.9);
    margin-bottom: 2rem;
  }
}

.btn-play {
  padding: 18px 22px;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  width: 180px;
}

.play {
  .heading,
  .lead {
    color: white;
  }

  .heading {
    font-weight: bold;
    font-size: 60px;
  }
}

small {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

.status {
  .heading {
    font-weight: bold;
  }

  #mapName {
    font-weight: bold;
    font-size: 32px;
  }

  #mapImage {
    max-width: 100%;
  }
}

.sidebar {
  text-align: center;
  .heading {
    font-weight: bold;
  }

  .input {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #007bff;
    padding: 20px;
  }
}

.footer {
  margin-top: 3.5em;
}
