@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    margin: 0 auto;
}

.tag {
    display: inline-block;
    padding: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25em;
    font-weight: bold;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.125);
    margin: 0 0.3em 0.3em 0;
}

.avatar-sm {
    width: 38px;
    height: 38px;
    margin: 0 2.25px 2.25px 0;
    border-radius: 3px;
}

.avatar {
    width: 84px;
    height: 84px;
    border-radius: 5px;
}

small {
    font-weight: normal;
    color: $dark_gray;
}

.page-heading {
    font-weight: bold;
}

.footer {
    margin-top: 3.5em;
    margin-bottom: 2em;
}

hr {
    border-color: #dee2e6;
}
