@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark !important;
    color: white !important;
  }

  .navbar {
    background-color: $dark !important;

    .navbar-brand {
      color: white !important;
    }

    .navbar-nav {
      .nav-link {
        color: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }

  .footer {
    a {
      color: white !important;
    }
  }

  .card {
    background-color: $dark !important;
  }

  .img-thumbnail {
    background-color: $dark !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
  }

  small {
    color: $gray !important;
  }

  .staff-role {
    color: $gray !important;
  }

  .staff-social {
    a {
      color: $gray !important;
    }
  }
}
